@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap);
*,
header {
  margin: 0;
}
.header-logo,
header i {
  font-weight: 600;
  cursor: pointer;
}
*,
.header-logo {
  font-family: Ubuntu, sans-serif;
}
.header-logo,
.navbar a,
body {
  color: var(--grey);
}
.bars-links a,
.bars-links.active {
  display: block;
}
.bars-links a:hover,
.navbar a:hover {
  color: var(--orange);
  text-decoration: underline;
}
footer,
header {
  box-shadow: 0 1px 6px var(--grey);
}
#top-btn,
.projects-card a:hover,
.social-icons a:hover {
  background-color: var(--orange);
}
#top-btn,
.bars-links {
  z-index: 99;
  display: none;
}
#top-btn,
.btn,
.btn span,
.header-logo,
.more-btn i,
header i {
  cursor: pointer;
}
#top-btn,
.bars-links,
.navbar {
  display: none;
}
:root {
  --orange: #01ffa6;
  --white: #ffffff;
  --grey: rgba(173, 173, 173, 0.849);
  --light-grey: rgba(233, 233, 233, 0.945);
  --blue: #00091a;
  --light-blue: rgba(113, 120, 134, 0.733);
  --black: #000000;
  --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
* {
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
html {
  font-size: 65%;
  background-color: var(--blue);
}
body {
  overflow-x: hidden;
  /* background-color: #ff959500; */
  /* background: #000121;
  background: #000121;
  background: #0a0000; */
  /* background: linear-gradient(
    90deg,
    rgba(10, 0, 0, 1) 0%,
    rgba(1, 1, 38, 1) 0%,
    rgba(0, 90, 102, 1) 100%
  );
} */
  /* background: linear-gradient(
    90deg,
    rgba(0, 0, 40, 1) 0%,
    rgba(1, 1, 38, 1) 40%,
    rgba(0, 90, 102, 1) 100%
  ); */
  /* background: linear-gradient(90deg, #020111 0%, #002f38 100%); */
  background: linear-gradient(135deg, #0f172a 0%, #020617 100%);
  /* background-color: #0f172a; */
}
.btn,
a,
button {
  transition:
    color 0.3s,
    transform 0.3s;
  /* background-color: transparent; */
}
i {
  /* color: #00e5ff; */
  /* text-shadow: 0 0 1px #00e5ff; */
}
i:hover {
  /* color: #033b42; */
  /* background-color: white; */
}
p {
  /* color: #e6f1ff; */
  /* color: #9db2bf; */
  /* background: rgba(255, 255, 255, 0.08); */
}
header {
  padding: 2.5rem 4%;
  background-image: linear-gradient(
    to bottom,
    var(--blue),
    rgba(253, 253, 253, 0.363)
  );
  border-radius: 0 0 1.2rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header i {
  color: var(--orange);
  font-size: 3.2rem;
}
.header-logo {
  font-size: 4rem;
  transition: 0.3s ease-in;
}
.header-logo:hover {
  color: var(--orange);
  text-shadow: 0 0 3px var(--orange);
  transform: scale(1.1);
}
.navbar a {
  margin: 0.3rem 1rem;
  padding: 6px;
  font-size: 2.3rem;
}
.navbar a:hover {
  transition: 0.3s ease-in;
}
.bars-links {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(206, 206, 206, 0.733);
  border-radius: 0 0 1rem 1rem;
  transition: 0.3s;
}
.btn,
.social-icons a {
  background-color: var(--white);
}
.bars-links a {
  margin: 1.5rem;
  padding: 0.7rem;
  font-size: 2.5rem;
  color: var(--white);
  border-radius: 6px;
}
.bars-links a:hover {
  font-size: 2.3rem;
  transition: 0.6s;
}
.bars-links p {
  margin: auto 0;
  color: var(--white);
  font-size: 1.8rem;
}
.more-btn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.more-btn i {
  margin-right: 0.5rem;
  padding: 0.5rem;
  color: var(--orange);
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.home-image {
  margin: 2rem;
}
.home-image img {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--grey);
  cursor: pointer;
  transition: 0.2s linear;
}
.home-image img:hover {
  box-shadow: 0 5px 25px var(--orange);
}
.home-content {
  margin: 0;
  padding: 2rem 2%;
  font-size: 1.4rem;
  font-family: Rubik;
  line-height: 1.2;
}
.home-content span {
  color: var(--orange);
  font-family: Ubuntu;
}
.home-content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
}
.home-content h2 {
  margin: 1rem 0;
  font-size: 3.5rem;
  font-weight: 700;
}
.home-content p {
  margin: 2rem 1%;
  color: var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  word-spacing: 3px;
}
.btn,
.contact-btn,
.tech-tags,
.social-icons a {
  color: #00283a;
}
.skill-card .times {
  color: #d40000;
}
.home-content p::first-letter {
  font-size: 2.5rem;
}
.social-icons {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social-icons a {
  margin: 4px;
  padding: 0;
  width: 45px;
  height: 45px;
  box-shadow: 0 1px 1px var(--grey);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons i {
  margin: 0.5rem;
  font-size: 2.4rem;
}
.social-icons a:hover {
  color: var(--white);
  transition: 0.3s;
  transform: scale(1.2);
}
.contact-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn {
  padding: 0.8rem 2.5rem;
  margin: 1rem 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  word-spacing: 8px;
  border-radius: 0.6rem;
  border: none;
  outline: 0;
  transition:
    background-color 0.3s,
    transform 0.3s;
}
.btn span {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}
.btn span::after {
  content: "\00bb";
  position: absolute;
  top: 0;
  right: -20px;
  opacity: 0;
  transition: 0.3s;
}
.btn:hover span {
  padding-right: 25px;
}
.btn:hover span::after {
  right: 0;
  opacity: 1;
}
.contact-container,
.home-container,
.projects-container,
.skill-container {
  padding: 1rem;
  margin: 1rem 0;
  max-width: 1200px;
}
.learn-container h2,
.projects-container h2,
.skill-container h2 {
  color: var(--white);
  font-size: 3.2rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 3px 12px var(--grey);
  word-spacing: 4px;
}
.learn-card h3,
.skill-container h3 {
  color: var(--grey);
  font-size: 2.5rem;
  text-align: left;
}
.skill-container h3 {
  margin: 1rem 0 1rem 3rem;
}
.learn-card h3 {
  margin: 1rem 0;
}
.learn-cards,
.skill-cards {
  padding: 1rem 0;
  margin: 0 0.3rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.skill-card {
  margin: 1rem 0;
  padding: 1.2rem;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 1px 12px var(--grey);
  border-radius: 1rem;
}
.skill-card h3 {
  margin: 1rem 0;
  color: var(--blue);
  font-size: 2.5rem;
}
.skill-card i {
  margin-right: 6px;
  font-size: 2.8rem;
}
.skill-card p {
  margin-bottom: 0.5rem;
  padding-left: 12px;
  color: var(--light-blue);
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 0 2px 6px var(--grey);
}
.skill-card .times {
  margin: 1.5rem 1rem;
  font-weight: bolder;
  /* text-shadow: 0 1px 6px var(--orange); */
  float: right;
}
.fa-html5 {
  color: #e34f26;
}
.fa-css3-alt {
  color: #1572b6;
}
.fa-js-square {
  color: #f7df1e;
}
.fa-react {
  color: #61dafb;
}
.fa-python {
  color: #3776ab;
}
.github {
  color: #181717;
}
.fa-figma {
  color: #f24e1e;
}
.fa-bootstrap {
  color: indigo;
}
.fa-palette {
  color: #b37bc9;
}
.fa-rocket {
  color: #0a2b55;
}
.learn-links a,
.tech-tags {
  /* color: var(--orange); */
  font-weight: 700;
}
.typing-text {
  font-size: 5rem;
  font-weight: bolder;
  min-width: 280px;
}
.typing-text span {
  position: relative;
  font-family: "fauna one";
}
.typing-text span::before {
  content: "Web Designer";
  color: var(--orange);
  animation: 8s infinite words;
}
.typing-text span::after {
  content: "";
  position: absolute;
  right: -10px;
  height: 100%;
  width: 1px;
  background: var(--orange);
  animation: 0.6s infinite cursor;
}
@keyframes cursor {
  to {
    border-left: 3px solid var(--grey);
  }
}
@keyframes words {
  0%,
  33% {
    content: "Frontend Developer";
  }
  34%,
  65% {
    content: "Web Designer & Developer";
  }
  100%,
  66% {
    content: "Freelancer";
  }
}
.learn-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.learn-links a {
  padding: 0.8rem 2.5rem;
  margin: 0;
  font-size: 2rem;
  word-spacing: 8px;
  text-transform: capitalize;
  border-radius: 0.6rem;
  border: none;
  outline: 0;
  transition:
    background-color 0.3s,
    transform 0.3s;
}
.projects-container .btn {
  padding: 0.7rem 1.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--grey);
  border-radius: 8px;
  float: right;
}
.projects-container .btn i {
  margin-right: 12px;
}
.cards-container {
  margin: 1rem 0.3rem;
  padding: 1.2rem;
  background-color: transparent;
  display: block;
}
.projects-card {
  margin: 1.5rem 0;
  padding: 1.2rem 0.9rem;
  background-color: var(--white);
  box-shadow: 0 0 6px var(--grey);
  border-radius: 0.8rem;
  border: none;
}
.tech-tags {
  margin: 0.5rem 1.5rem;
  text-shadow: 0 3px 4px var(--grey);
  float: right;
  clear: both;
}
.projects-card img {
  margin: 1.2rem 0;
  width: 100%;
  box-shadow: 0 6px 29px #525252;
  border-radius: 1rem;
}
.projects-card h3 {
  margin-bottom: 1rem;
  margin-left: 1rem;
  color: var(--blue);
  font-size: 3.2rem;
  text-align: left;
  text-transform: capitalize;
  text-shadow: 0 3px 12px var(--grey);
  text-overflow: ellipsis;
  display: block;
}
.projects-card p {
  margin: 1.5rem 1rem;
  padding-left: 12px;
  color: var(--light-blue);
  font-size: 1.6rem;
  text-shadow: 0 1px 1px var(--grey);
}
.projects-card a {
  margin: 0.8rem 2%;
  padding: 0.7rem 1rem;
  width: 95%;
  font-size: 1.4rem;
  color: var(--orange);
  background-color: var(--white);
  box-shadow: 0 3px 6px var(--grey);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-card a:hover {
  color: var(--white);
  transition: 0.2s;
}
.projects-card i {
  margin-right: 12px;
  font-size: 1.3rem;
}
.information {
  margin: 3rem 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-card {
  padding: 1rem 0.6rem;
  background-color: rgba(253, 253, 253, 0.09);
  border-radius: 0.8rem;
  margin-bottom: 0.5rem;
}
.contact-card h2 {
  margin: 1rem 0;
  color: var(--grey);
  font-size: 2.5rem;
  text-align: center;
}
.contact-card p {
  margin: 0 2rem;
  padding: 0.5rem;
  color: var(--white);
  font-size: 1.8rem;
  line-height: 1.3;
  word-spacing: 3px;
}
.contact-card p::first-letter {
  font-size: 2.3rem;
}
.contact-methods {
  margin: 1.2rem 0.5rem;
  border-top: 2px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-methods a {
  margin: 1.5rem 1.5rem 0;
  color: var(--white);
  font-size: 3.2rem;
}
.contact-methods a:hover,
.footer-content a:hover {
  color: var(--orange);
}
footer {
  background-image: linear-gradient(
    to top,
    var(--blue),
    rgba(253, 253, 253, 0.123)
  );
  margin: 0;
  padding: 2rem;
  color: var(--grey);
  font-size: 1.7rem;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-card {
  margin: 2rem 0;
  padding: 1rem;
}
.footer-card p {
  font-size: 1.5rem;
}
.footer-content a {
  padding: 0 8px;
  margin: 0.3rem 0.6rem;
  color: var(--grey);
  font-size: 2.8rem;
}
#top-btn {
  padding: 1rem;
  color: var(--white);
  border-radius: 4px;
  width: 100px;
  border: none;
  outline: 0;
  position: fixed;
  bottom: 20px;
  right: 30px;
}
#top-btn i {
  margin-left: 1rem;
}
@media (min-width: 576px) {
  header {
    padding: 3rem 8%;
  }
  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  header {
    padding: 3rem;
  }
  body {
    overflow-x: hidden;
    /* background-color: #f7df1e; */
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .more-btn {
    display: none;
  }
  .contacts-content,
  .projects-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .home-container {
    justify-content: center;
  }
  .contact-container,
  .home-container,
  .projects-container,
  .skill-container {
    padding: 0 5%;
    margin: 1rem 5%;
  }
  .skill-card {
    margin: 0;
  }
  .projects-cards {
    align-items: stretch;
    justify-items: center;
    gap: 0.5rem;
  }
  .projects-card img {
    width: 100%;
    margin: 2rem 0;
  }
  footer {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  body {
    /* background-color: #b37bc9; */
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact-container,
  .home-container,
  .projects-container,
  .skill-container {
    padding: 1rem 0;
    margin: 1rem 15%;
  }
  .home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .skill-cards {
    align-items: stretch;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects-card {
    margin: 0.8rem;
  }
  .contacts-content {
    flex-direction: row;
    display: flex;
  }
  footer {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 95%;
    /* background-color: #f24e1e; */
  }
  .contact-container,
  .home-container,
  .projects-container,
  .skill-container {
    padding: 2rem 0;
    margin: 1rem 18%;
  }
  .projects-card,
  .skill-card,
  .skill-cards {
    margin: 1rem;
    padding: 1.2rem;
  }
  .skill-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .projects-cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 1.2rem;
  }
}
