@import url("https://fonts.googleapis.com/css?family=Ubuntu");

:root {
  --orange: #ff5e00;
  --white: #ffffff;
  --grey: rgba(173, 173, 173, 0.849);
  --light-grey: rgba(233, 233, 233, 0.945);
  --blue: #00091a;
  --light-blue: rgba(113, 120, 134, 0.733);
  --black: #000000;

  --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  --boxs-shadow: 0px 1px 12px var(--blue) inset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Ubuntu", "fauna one", "sans-serif";
  text-decoration: none;
  transition:
    color 0.3s ease,
    transform 0.3s ease;

  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html {
  font-size: 65%;
  width: 100%;
  background-color: var(--blue);
}
body {
  width: 100%;
  color: var(--grey);
  background-color: #ff959500;
  overflow-x: hidden;
}

header {
  margin: 0;
  padding: 2.5rem 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    var(--blue),
    rgba(253, 253, 253, 0.363)
  );
  box-shadow: 0px 1px 6px var(--grey);
  border-radius: 0px 0px 1.2rem 1.2rem;
}
.header-logo {
  color: var(--grey);
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.header-logo:hover {
  color: var(--orange);
  text-shadow: 0px 0px 3px var(--orange);
  transform: scale(1.1);
}
header i {
  color: var(--orange);
  font-size: 3.2rem;
  font-weight: 600;
  cursor: pointer;
}
.navbar {
  display: none;
}
.navbar a {
  color: var(--grey);
  font-size: 2.3rem;
  margin: 0.3rem 1rem;
  padding: 6px;
}
.navbar a:hover {
  color: var(--orange);
  text-decoration: underline;
  transition: all 0.3s ease-in;
}

.bars-links {
  display: none;
  position: absolute;
  z-index: 99;
  right: 0;
  width: 100%;
  height: auto;
  background-color: rgba(206, 206, 206, 0.733);
  border-radius: 0px 0px 1rem 1rem;
  transition: all 0.3s ease;
}
.bars-links.active {
  display: block;
}
.bars-links a {
  display: block;
  padding: 0.7rem;
  margin: 0.7rem 1.5rem;
  font-size: 2.2rem;
  color: var(--white);
  border-radius: 6px;
}
.bars-links a:hover {
  color: var(--orange);
  text-decoration: underline;
  transition: all 0.6s ease;
  font-size: 2.3rem;
}
.bars-links p {
  color: var(--white);
  font-size: 1.8rem;
  margin: auto 0;
}

.more-btn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.more-btn i {
  color: var(--orange);
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 3rem 5%;
  background-color: transparent;
}

.home-img {
  margin: 4rem;
}
.home-img img {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  transition: 0.2s linear;
  box-shadow: 0 0px 25px var(--grey);
}
.home-img img:hover {
  box-shadow: 0px 5px 25px var(--orange);
}

.home-container {
  margin: 0;
  padding: 2rem 5%;
  font-size: 1.4rem;
  font-family: "Rubik";
  line-height: 1.2;
}
.home-container span {
  color: var(--orange);
  font-family: "Ubuntu";
}
.home-container h1 {
  margin-bottom: 1rem;
  font-size: 3.8rem;
}
.home-container h2 {
  margin: 1rem 0;
  font-size: 3.3rem;
  font-weight: 700;
}
.home-container p {
  margin: 2rem 1%;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1.4;
  word-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home-container p::first-letter {
  font-size: 2.5rem;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
}
.social-icons a {
  color: var(--orange);
  background-color: var(--white);
  margin: 4px;
  padding: 0rem;
  width: 45px;
  height: 45px;
  box-shadow: 0px 1px 1px var(--grey);
  box-shadow: 0px 1px 6px var(--grey) inset;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons i {
  margin: 0.5rem;
  font-size: 2.4rem;
}
.social-icons a:hover {
  background-color: var(--orange);
  color: var(--white);
  scale: 1.2;
  transition: all 0.3s ease;
}

.contact-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn {
  background-color: var(--white);
  color: var(--orange);
  padding: 0.8rem 2.5rem;
  margin: 1rem 0rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.6rem;
  word-spacing: 8px;
  text-transform: capitalize;
  border: none;
  outline: none;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.btn span::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}
.btn:hover span {
  padding-right: 25px;
}
.btn:hover span::after {
  opacity: 1;
  right: 0;
}

.skill-container,
.learn-container {
  display: block;
  padding: 3rem 2rem;
  margin: 3rem 0;
  background-color: transparent;
}
.skill-container h2,
.projects-container h2,
.learn-container h2 {
  text-align: center;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: var(--white);
  text-shadow: 0px 3px 12px var(--grey);
  word-spacing: 4px;
}
.skill-container h3 {
  color: var(--grey);
  text-align: left;
  font-size: 2.5rem;
  margin: 1rem 0rem 0 3rem;
}
.learn-card h3 {
  color: var(--grey);
  text-align: left;
  font-size: 2.5rem;
  margin: 1rem 0rem;
}
.learn-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.learn-links a {
  color: var(--orange);
  padding: 0.8rem 2.5rem;
  margin: 0rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.6rem;
  word-spacing: 8px;
  text-transform: capitalize;
  border: none;
  outline: none;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.skill-cards,
.learn-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 1rem 0;
  margin: 0 0.3rem;
}
.skill-card {
  margin: 1rem;
  padding: 1.2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0px 1px 12px var(--grey);
  width: 95%;
}

.skill-card h3 {
  font-size: 2.5rem;
  margin: 1rem 0;
  color: var(--blue);
}
.skill-card i {
  margin-right: 6px;
  font-size: 2.8rem;
}
.skill-card p {
  font-size: 1.6rem;
  padding-left: 12px;
  margin-bottom: 0.5rem;
  color: var(--light-blue);
  font-weight: bold;
  text-shadow: 0px 2px 6px var(--grey);
}
.skill-card .times {
  color: var(--orange);
  margin: 1.5rem 1rem;
  float: right;
  font-weight: bolder;
  text-shadow: 0px 1px 6px var(--orange);
}

.fa-html5 {
  color: #e34f26;
}
.fa-css3-alt {
  color: #1572b6;
}
.fa-js-square {
  color: #f7df1e;
}
.fa-react {
  color: #61dafb;
}
.fa-python {
  color: #3776ab;
}
.github {
  color: #181717;
}
.fa-figma {
  color: #f24e1e;
}
.fa-bootstrap {
  color: indigo;
}
.fa-palette {
  color: #b37bc9;
}
.fa-rocket {
  color: #0a2b55;
}

.typing-text {
  font-size: 5rem;
  font-weight: bolder;
  min-width: 280px;
}
.typing-text span {
  position: relative;
  font-family: "fauna one";
  display: block;
}
.typing-text span::before {
  content: "Web Designer";
  color: var(--orange);
  animation: words 8s infinite;
}
.typing-text span::after {
  position: absolute;
  content: "";
  height: 100%;
  width: calc(100% + 8px);
  background-color: transparent;
  border-left: 3px solid var(--black);
  animation: cursor 0.6s infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid var(--grey);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Web Designer";
  }
  21%,
  40% {
    content: "Graphic Designer";
  }
  41%,
  60% {
    content: "Freelancer";
  }
  61%,
  80% {
    content: "Frontend Developer";
  }
  81%,
  100% {
    content: "Entrepreneur";
  }
}

.projects-container {
  display: block;
  padding: 1rem 2%;
  margin: 1rem 0.3rem;
  background-color: transparent;
}
.projects-container .btn {
  background-color: var(--grey);
  color: var(--white);
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: bold;
  float: right;
}
.projects-container .btn i {
  margin-right: 12px;
}
.cards-container {
  display: block;
  background-color: transparent;
  padding: 1.2rem;
  margin: 1rem 0.3rem;
}
.projects-card {
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 6px var(--grey);
  box-shadow: 0.2rem 0.2rem 1rem var(--blue);
  padding: 1.2rem 0.9rem;
  margin: 1.5rem 0.3rem;
  background-color: var(--white);
}
.tech-tags {
  color: var(--orange);
  text-shadow: 0px 3px 4px var(--grey);
  font-weight: bold;
  float: right;
  clear: both;
  margin: 0.5rem 1.5rem;
}
.projects-card img {
  width: 98%;
  margin: 1.2rem 1rem;
  border-radius: 1rem;
  box-shadow: 0px 6px 29px rgb(82, 82, 82);
}
.projects-card h3 {
  text-align: left;
  text-transform: capitalize;
  color: var(--blue);
  font-size: 3.2rem;
  text-shadow: 0px 3px 12px var(--grey);
  margin-bottom: 1rem;
  margin-left: 1rem;
  text-overflow: ellipsis;
  display: block;
  text-overflow: clip;
}
.projects-card p {
  font-size: 1.6rem;
  padding-left: 12px;
  margin: 1.5rem 1rem;
  color: var(--light-blue);
  text-shadow: 0px 1px 1px var(--grey);
}
.projects-card a {
  background-color: var(--white);
  color: var(--orange);
  padding: 0.7rem 1rem;
  margin: 0.8rem 2%;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 6px var(--grey);
  width: 95%;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-card a:hover {
  background-color: var(--orange);
  color: var(--white);
  transition: all 0.2s ease;
}
.projects-card i {
  font-size: 1.3rem;
  margin-right: 12px;
}

.home,
.skill-container,
.projects-container {
  padding: 1rem;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 3rem 0;
  padding: 1rem;
}
.info-part {
  margin: 2rem 5rem;
  padding: 1rem 0.6rem;
  background-color: rgba(253, 253, 253, 0.09);
  border-radius: 0.8rem;
}

.info-part h2 {
  font-size: 2.5rem;
  color: var(--grey);
  margin: 1rem 0;
  text-align: center;
}
.info-part p {
  color: var(--white);
  font-size: 1.8rem;
  padding: 1rem;
  margin: 0.2rem 2rem;
  line-height: 1.3;
  word-spacing: 3px;
}
.info-part p::first-letter {
  font-size: 2.3rem;
}

.contact-methods {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1.2rem 0.5rem;
  border-top: 2px solid var(--grey);
}
.contact-methods a {
  margin: 0 1rem;
  margin-top: 1.5rem;
  color: var(--white);
  font-size: 3.2rem;
}
.contact-methods a:hover {
  color: var(--orange);
}

footer {
  background-image: linear-gradient(
    to top,
    var(--blue),
    rgba(253, 253, 253, 0.123)
  );

  color: var(--grey);
  margin: 0;
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
  font-size: 1.7rem;
  box-shadow: 0px 1px 6px var(--grey);

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.footer-part {
  padding: 1rem 1rem;
  margin: 1rem 0;
}
.footer-part p {
  font-size: 1.5rem;
}

.footer-content a {
  color: var(--grey);
  font-size: 2.8rem;
  padding: 6px;
  margin: 0.6rem 0.3rem;
}
.footer-content a:hover {
  color: var(--orange);
}

#top-btn {
  background-color: var(--orange);
  color: var(--white);
  border-radius: 4px;
  padding: 0.6rem 1rem;
  border: none;
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
}
#top-btn i {
  margin-left: 6px;
}

/* 
Mobile first 0px - 575px  
large mobile / small tablets  @media (min-width: 576px){} 
tablets  @media (min-width: 768px){} 
laptop / small desktop @media (min-width: 992px) {}
large desktop @media(min-width: 1200px) {} 
*/

/* large mobile / small tablets  */
@media (min-width: 576px) {
  header {
    padding: 3rem 8%;
  }
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .projects-container,
  .skill-container {
    padding: 2rem 1rem;
    margin: 0;
  }
  .projects-card {
    margin: 1rem auto;
  }
  .skill-card {
    margin: 1rem;
    padding: 1.2rem 2rem;
  }
  .contacts {
    margin: 0 5rem;
  }
}

/* tablets */
@media (min-width: 768px) {
  header {
    padding: 3rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .more-btn {
    display: none;
  }
  .home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .home .skill-container,
  .projects-container {
    padding: 5%;
    background: transparent;
  }

  .skill-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .projects-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
  }
  .projects-card img {
    width: 100%;
    margin: 1rem 0;
  }
  .contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    padding: 2rem;
  }
}

/* laptop / samll desktop */
@media (min-width: 992px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .home,
  .skill-container,
  .projects-container {
    padding: 1rem;
    margin: 1rem 15%;
  }
  .home {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .skill-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .projects-card {
    margin: 0.8rem;
  }
  .modal {
    width: 40%;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/* large desktop */
@media (min-width: 1200px) {
  body {
    font-size: 90%;
  }

  .home,
  .contacts,
  .skill-container,
  .projects-container {
    padding: 2rem 9%;
    margin: 1rem;
  }
  .skill-cards,
  .projects-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem;
    padding: 1.2rem;
  }
  .projects-card,
  .skill-card {
    margin: 1rem 1rem;
    padding: 1.2rem;
  }
  .contacts-section {
    margin: 9%;
  }
  footer {
    padding: 2.5rem;
  }
}
